/*** Parameters ***/

// Colors
$color-primary: #000;
$color-secondary: #e5ab16;
$color-light: #fafafa;
$color-brand: #e5ab16;
$color-text: #000;
$color-footer:#32343f;
$color-white:#fff;

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$base-font-size: 16;

// Font Family
$sans-serif: 'Montserrat', sans-serif;


// Dashboard Variable

$color-grey:#b5b5b5;